body, html {
  font-family: 'century gothic';
  color: blue;
  background-color: #5f97ef;
}

body{
  margin:0;
  padding:0;
}

html{
  font-family: "Trebuchet MS"
}

li {
    list-style-type: none;
    font-size: 20px;
}

#infoSection{
  background-color: #ede634;
  text-align: center;
  padding: 40px;
  margin-bottom: -30px;
  display: block;
  padding-bottom: 60px;
}

#logo{
  height: 50px;
}

#resumeDocument a{
  text-align: center;
  margin: 0 auto;
  width: 350px;
  display: block;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: 3px solid white;
}

#contactSection a{
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
  border: 3px solid white;
  color: darkblue;
  background-color: lightyellow;
}

#contactSection{
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.codeInfo{
  background-color: white;
}

.codeInfo li{
  margin: auto;
  width: 50%;
}

.codeInfo h2{
  text-align: center;
}

.codeInfo {
  float: left;
  width: 100%;
}

.codeInfo section {
  margin: 2%;
  width: 45%;
  float: left;
  border-radius: 5px;
  border: 5px solid black;
}

#resumeEmbed embed{
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#projects{
  background-color: lightgrey;
}

.name{
  text-align: center;
  color: darkblue;
  font-size: 1.9rem;
  font-weight: bold;
}

.contactInfo{
  text-align: center;
}

nav{
  text-align: center;
}

nav ul{
  list-style: none;
}

nav ul li{
  display: inline-block;
  margin-right: 20px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid grey;
}

nav ul li:last-child{
  margin-right: 0;
}

nav ul li > a {
  color: darkblue;
  font-size: 1.5rem;
  text-decoration: none;
}

.button {
  width: 60px;
  height: 30px;
  background: lightgrey;
  color: darkblue;
  border-radius: 10px;
}

#formTitle{
  display: block;
  margin 0 auto;
}

#topSection h2{
  text-align: center;
  color: white;
  border-radius: 5px;
  border: 3px solid white;
  width: 350px;
  display: block;
  margin: auto;
  padding: 10px;
  margin-bottom: 20px;
  background-color: lightgrey;
}

.signup-form>form{
  display: block;
  margin: 0 auto;
  background-color: lightgrey;
  width: 500px;
  text-align: center;
  padding: 2px;
}
